// Fonts
$font_heading         : 'Poppins', sans-serif;
$font_text            : 'Poppins', sans-serif;

// Colors     228be6
$color_primary        : #ff4500;
$color_light_grey     : #ecfcff;
$body_text            : #858585;
$color_white          : #fff;
$color_like_grey      : #f5f5f5;
$color_orange         : #f0932b;
$color_black          : #000;
$color_dark           : #252628;
$color_success        : #4caf50;
$color_danger         : #f27474;
$color_bg_grey        : rgba($color_primary,0.06);
$color_primary_light  : rgba($color_primary,0.1);
$color_soft_grey      : #e0e0e0;
$color_footer_link    : #dee2e6;
$color_grey_secondary : #eee;
$color_shadow         : rgba($color_black, 0.1);

// Transition
$trs_linear           : all 0.25s linear;