/* ---------------------------------------------------------------- */
/* 22.Footer                             
/* ---------------------------------------------------------------- */
.footer {
    background: $color_dark; 
    .footer-top {
        padding: 80px 0 50px 0;
        .footer-widget {
            margin-bottom: 30px;
            .footer-desc {
                color: $color_white;
                opacity: 0.75;
                margin-bottom: 20px;        
            }
            .footer-title {
                color: $color_white;
                margin-bottom: 30px;
                position: relative;
                font: {
                    weight: 600;
                }
                &:after {
                    content: "";
                    display: block;
                    background: $color_white;
                    margin-top: 10px;
                    width: 50px;
                    height: 2px;
                }
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 20px;
                    height: 2px;
                    background: $color_primary;
                }
            }
            .footer-social-links {
                a {
                    width: 50px;
                    height: 50px;
                    color: $color_white;
                    line-height: 50px;
                    border-radius: 50%;
                    text-align: center;
                    display: inline-block;
                    background: rgba($color_white, 0.05);
                    transition: all 0.25s linear;
                    margin-right: 10px;
                    margin-top: 10px;
                    &:hover {
                        color: $color_primary !important;
                        background: $color_white;
                        animation: pulseWhite 1s 1 ease-in-out;
                    }
                }
            }
            .footer-contact-info-list {
                li {
                    margin-bottom: 10px;
                    display: flex;
                    align-items: flex-start;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    i {
                        flex: 0 0 50px;
                        margin-right: 15px;
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        color: $color_white;
                        line-height: 50px;
                        text-align: center;
                        display: inline-block;
                        background: rgba($color_white, 0.05);
                        transition: all 0.5s ease;
                        font: {
                            size: 14px;
                        }
                    }
                    p {
                        color: $color_white;
                        opacity: 0.75;
                        vertical-align: middle;
                    }
                }
            }
            .footer-links {
                li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    span {
                        color: $color_white;
                        opacity: 0.75;
                    }
                    a {
                        color: $color_white;
                        opacity: 0.8;
                        &:hover {
                            color: $color_primary;
                            opacity: 1;
                            text-decoration: underline;
                        }
                    }
                    &:before {
                        content: "";
                        width: 10px;
                        height: 2px;
                        font-weight: 700;
                        margin-right: 15px;
                        background: $color_white;
                        display: inline-block;
                        transition: all 0.5s ease;
                    }
                    &:hover {
                        &:before {
                            width: 20px;
                            background: $color_primary;
                        }
                    }
                }
            }
        }   
    }
    // Copyright
    .copyright {
        background: rgba($color_white, 0.03);
        padding: 30px 0;
        .copyright-text {
            color: $color_white;
            opacity: 0.75;
        }
    }
}