/* ---------------------------------------------------------------- */
/* 10.Hero                                              
/* ---------------------------------------------------------------- */
.hero-banner {
    position: relative;
    overflow: hidden;
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    &:before {
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        opacity: 0.75;
        position: absolute;
        background: $color_dark;
    }
    .hero-inner {
        h1 {
            color: $color_white;
            margin-bottom: 20px;
        }
        p {
            color: $color_white;
            opacity: 0.75;
            font-size: 1.125rem;
            margin-bottom: 40px;
        }
    }
}
.hero-img {
    position: relative;
    text-align: right;
    img {
        text-align: right;
        display: inline-block;
    }
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query (less than 576px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width:575.98px) {
    .hero-banner {
        .hero-inner {
            h1 {
               font-size: 2rem;
            }
            p {
                font-size: 14px;
            }
        }
    }
}