/* ---------------------------------------------------------------- */
/* 08.Preloader                            
/* ---------------------------------------------------------------- */
#preloader-wrap {
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;
	z-index: 5555;
	display: flex;
	position: fixed;
	background: $color_white;
	justify-content: center;
	align-items: center;
	.preloader-inner {
		display: inline-block;
		position: relative;
		width: 80px;
		height: 80px;
		&:after {
			content: " ";
			display: block;
			border-radius: 50%;
			width: 0;
			height: 0;
			margin: 8px;
			box-sizing: border-box;
			border: 32px solid $color_primary;
			border-color: $color_primary transparent $color_primary transparent;
			animation: preloaderRotate 1.2s infinite;
		}
	}
}
